<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    메뉴 목록
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    오버워치 샷게임

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">테마 변경</button>
  </md-toolbar>

  <div class="app-content">

    현재 기록 - {{progress}}%
    <md-progress-bar
        class="app-progress"
        color="accent"
        mode="determinate"
        [value]="progress"
        aria-label="accrue timebar">
    </md-progress-bar>
    
    <div id="ingame"></div>
    <app-info></app-info>

  </div>

</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>dock</md-icon></button>
</span>