<md-card>
  <button md-raised-button color="primary" md-tooltip="당신의 전적을 볼 수 있습니다.">내 정보</button>
  <button md-raised-button color="primary" md-tooltip="자신의 최고기록을 확인할 수 있습니다." (click)="showMaxrecord()" >나의 최고기록</button>
  <button md-raised-button [md-menu-trigger-for]="menu" color="primary" md-tooltip="당신이 소유하신 훈장을 확인할 수 있습니다.">보유 훈장</button>
  <p>
    <span>이름 : 홍길동</span>
    <span>최고 기록 : 69.34초</span>
  </p>
</md-card>

<md-menu #menu="mdMenu">
  <button md-menu-item><md-icon>build</md-icon> 착한훈장</button>
  <button md-menu-item><md-icon>build</md-icon> 일급훈장</button>
  <button md-menu-item><md-icon>build</md-icon> 한조50킬 훈장</button>
</md-menu>