<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list>
      <md-list-item> <button md-button>메인으로 가기</button> </md-list-item>
      <md-list-item> <button md-button>게임 진행</button> </md-list-item>
      <md-list-item> <button md-button>랭킹/전적</button> </md-list-item>
      <md-list-item> <button md-button>내정보 설정</button> </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    오버워치 전설의 샷감

    <span class="app-toolbar-filler"></span>
    <button md-button>로그인</button>
  </md-toolbar>

  <div class="app-content">
      <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>dock</md-icon></button>
</span>