<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list>
      <md-list-item> <button md-button (click)="setRouter('')">메인으로 가기</button> </md-list-item>
      <md-list-item> <button md-button (click)="setRouter('ingame')">게임 진행</button> </md-list-item>
      <md-list-item> <button md-button (click)="setRouter('rank')">랭킹/전적</button> </md-list-item>
      <md-list-item> <button md-button (click)="setRouter('config')">내정보 보기</button> </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    오버워치 전설의 샷감

    <span class="app-toolbar-filler"></span>
    <img *ngIf="this.appFirebaseService.playerData" class="photo" [src]="this.appFirebaseService.photo">
    <button *ngIf="!this.appFirebaseService.playerData" md-button (click)="selectlogin()">로그인</button>
    <button *ngIf="this.appFirebaseService.playerData" md-button (click)="logout()">로그아웃</button>
  </md-toolbar>

  <div class="app-content">
      <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>