span{
    margin-left: 20%;
    color: #777777;
}

@media only screen and (max-width: 604px) {
    span{
        margin-left: 15%;
    }
}

@media only screen and (max-width: 420px) {
    span{
        margin-left: 8px;
    }
}